@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@400;500;600&display=swap");
@import url("http://fonts.cdnfonts.com/css/heavyweight");
@import url("http://fonts.cdnfonts.com/css/andline");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --headings-font-family: "Heavyweight", sans-serif;
  --body-font-family: "Roboto Condensed", sans-serif;
}

body {
  color: #fff;
  background-color: #0d0b07;
  font-family: var(--body-font-family);
}

header {
  background: rgb(13, 11, 7);
  /* background: linear-gradient(
    180deg,
    rgba(248, 219, 32, 1) 14%,
    rgba(248, 219, 32, 1) 37%,
    rgba(78, 69, 14, 1) 65%,
    rgba(78, 69, 14, 1) 100%
  ); 
  background: linear-gradient(to bottom,
        hsla(52, 94%, 55%, 1),
        ease-in-out,
        hsla(40, 30%, 4%, 1)); */
  background-image: linear-gradient(180deg,
      rgba(248, 219, 32, 1) 0%,
        rgba(248, 219, 32, 0.3) 50%,
        rgba(248, 219, 32, 0.15) 65%,
        rgba(248, 219, 32, 0.075) 75.5%,
        rgba(248, 219, 32, 0.037) 82.85%,
        rgba(248, 219, 32, 0.019) 88%,
        rgba(248, 219, 32, 0) 100%);
  padding: 20px;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  /* position: relative; */
}

.header__img {
  margin: 0;
  float: right;
  padding: 0;
  width: auto;
  height: 100vh;
  clip-path: polygon(25% 0, 100% 0%, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(25% 0, 100% 0%, 100% 100%, 0% 100%);
  -moz-clip-path: polygon(25% 0, 100% 0%, 100% 100%, 0% 100%);
  position: relative;
  z-index: 2;
}

header .esp {
  color: #000;
  font-size: 35px;
  font-weight: lighter;
  margin: 0;
  padding: 0;
  transform: rotate(-10deg);
  position: absolute;
  -webkit-text-stroke: 0.5px rgb(248, 219, 32);
  text-shadow: 0px 0px 0px #f8db20;
  bottom: 0;
  top: 100px;
  left: 658px;
}

header .jp {
  font-family: "Shippori Mincho B1", serif;
  color: rgba(255, 255, 255, 0.205);
  font-weight: 400;
  font-size: 50px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 10px;
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  transform: rotate(-10deg);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 0;
  mix-blend-mode: soft-light;
  overflow: hidden;
}

header .title {
  position: absolute;
  font-size: 5em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.box-header {
  background-color: #e7620f;
  width: 250px;
  height: 50px;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-40%, 60%);
}

nav {
  width: 70vw;
  position: relative;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  font-size: 20px;
  background-color: #0d0b07;
}

nav li {
  display: inline-block;
  text-align: center;
  padding: 15px 20px;
  min-width: 120px;
  margin: 0 30px;
}

nav ul li a {
  text-align: center;
  color: #f8db20;
  background: #0d0b07;
  padding: 15px 20px;
  transition-property: background-color;
  transition-duration: .5s;
  transition-timing-function: linear;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: .5s;
  -webkit-transition-timing-function: linear;
  -moz-transition-property: background-color;
  -moz-transition-duration: .5s;
  -moz-transition-timing-function: linear;
  -o-transition-property: background-color;
  -o-transition-duration: .5s;
  -o-transition-timing-function: linear;
  transform: rotate(0deg);
}

nav li a:hover {
  color: #0d0b07;
  background-color: #f8db20;
  font-weight: bold;
}

nav li:hover {
  transform: rotate(-5deg);
}

h1 {
  font-family: var(--headings-font-family);
  color: #fff;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 50px;
  margin-bottom: 30px;
  z-index: 0;
  position: absolute;
  text-shadow: #000 1px 1px 1px;
}

.videos {
  margin: 70px 10px 10px 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

iframe {
  width: 560px;
  height: 315px;
  margin: 20px;
}

.video-name {
  margin-left: 20px;
  font-family: var(--body-font-family);
}

.video-desc {
  margin-left: 20px;
  font-family: var(--body-font-family);
}

.section {
  margin-top: 50px;
  padding: 30px;
  height: auto;
}

h3 {
  font-family: var(--headings-font-family);
  text-transform: uppercase;
  font-weight: 100;
  font-size: 50px;
  margin-bottom: 30px;
  margin-left: 50px;
  z-index: 0;
  position: absolute;
  text-shadow: #000 1px 1px 1px;
}

.box-section {
  background-color: #e7620f;
  width: 300px;
  height: 50px;
  z-index: -1;
  margin-left: 30px;
  position: absolute;
  transform: rotate(-5deg);
}

.text {
  float: right;
  margin-top: 50px;
  overflow-wrap: break-word;
  min-width: 500px;
  max-width: 800px;
  position: relative;
  z-index: -2;
  /* display: inline-block; */
}

.text-block {
  margin: 100px 100px 0px 100px;
}

section img {
  margin-top: 50px;
  padding: 0;
  position: relative;
  z-index: -2;
}

/* contenedor de la barra + info + imágenes */
.chara-container {
  display: flex;
  margin: 100px 10px;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

/* barra de navegación personajes */
.nav-chara {
  width: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-size: 20px;
  background-color: #0d0b07;
  align-items: center;
  color: #f8db20;
  cursor: pointer;
  position: relative;
}

.nav-chara a {
  font-family: var(--headings-font-family);
  text-transform: uppercase;
  font-size: 35px;
  margin: 0px;
  text-align: center;
  color: #f8db20;
  padding-top: 5px;
  padding-bottom: 5px;
  height: auto;
}

.nav-chara a .esp1, .nav-chara a .esp2, .nav-chara a .esp3, .nav-chara a .esp4, .nav-chara a .esp5, .nav-chara a .esp6 {
  z-index: 2;
  position: relative;
  top: 50%;
  right: 0%;
  transform: translate(-50%, -50%);
}

.nav-chara a .esp1 {
  left: 65%;
}

.nav-chara a .esp2 {
  left: 70%;
}

.nav-chara a .esp3 {
  left: 66%;
}

.nav-chara a .esp4, .nav-chara a .esp5, .nav-chara a .esp6 {
  left: 60%;
}

.nav-chara a .esp1 .jp1,
.nav-chara a .esp2 .jp2,
.nav-chara a .esp3 .jp3,
.nav-chara a .esp4 .jp4,
.nav-chara a .esp5 .jp5,
.nav-chara a .esp6 .jp6 {
  visibility: hidden; /*cambiar a hidden*/
  position: absolute;
  height: 1.5rem;
  margin: 0 auto;
  right: 0px;
  z-index: 3;
}

.nav-chara a .esp1 .jp1, .nav-chara a .esp3 .jp3 {
  left: -80px;
}

.nav-chara a .esp2 .jp2 {
  left: -30px;
}

.nav-chara a .esp4 .jp4 {
  left: -50px;
}

.nav-chara a .esp5 .jp5 {
  left: -10px;
}

.nav-chara a .esp6 .jp6 {
  left: -50px;
}
.nav-chara a .esp1:hover, .nav-chara a .esp2:hover, .nav-chara a .esp3:hover, .nav-chara a .esp4:hover, .nav-chara a .esp5:hover, .nav-chara a .esp6:hover {
  visibility: hidden; /*cambiar a hidden*/
}

.nav-chara a .esp1:hover .jp1 {
  visibility: visible;
  -webkit-transition: visibility 5s ease-in-out;
  transition: visibility 5s ease-in-out;
}

.nav-chara a .esp2:hover .jp2 {
  visibility: visible;
  -webkit-transition: visibility 5s ease-in-out;
  transition: visibility 5s ease-in-out;
}

.nav-chara a .esp3:hover .jp3 {
  visibility: visible;
  -webkit-transition: visibility 5s ease-in-out;
  transition: visibility 5s ease-in-out;
}

.nav-chara a .esp4:hover .jp4 {
  visibility: visible;
  -webkit-transition: visibility 5s ease-in-out; 
  transition: visibility 5s ease-in-out;
}

.nav-chara a .esp5:hover .jp5 {
  visibility: visible;
  -webkit-transition: visibility 5s ease-in-out;
  transition: visibility 5s ease-in-out;
}

.nav-chara a .esp6:hover .jp6 {
  visibility: visible;
  -webkit-transition: visibility 5s ease-in-out;
  transition: visibility 5s ease-in-out;
}

/* contenedor info + imágenes por personaje */
.chara-container #chara1,
.chara-container #chara2,
.chara-container #chara3,
.chara-container #chara4,
.chara-container #chara5,
.chara-container #chara6 {
  position: relative;
  margin: 10px;
  /* display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start; 
  align-content: flex-start;*/
  width: 75%;
}

.txt {
  display: inline-block;
  padding: 0 30px;
  word-break: break-word;
  overflow: hidden;
  width: 60%;
}

.chara-img {
  width: 300px;
  height: 375px;
  position: absolute;
  right: 0;
  bottom: -5%;
}

.chara-img .name {
  font-family: var(--headings-font-family);
  color: #fff;
  text-transform: uppercase;
  font-weight: 100;
  text-shadow: #000 1px 1px 1px;
  padding: 0;
  top: 58%;
  left: 10%;
  margin: 0;
}

/* .chara-img .photo {
  width: 300px;
  height: 375px;
} */
.manga {
  background-color: blue;
  width: 200px;
  height: 150px;
}

/* .name-box {
  background-color: #0d0b07;
  width: 200px;
  height: 50px;
  z-index: 2;
  transform: rotate(-5deg);
  margin-right: 20px;
} */

.anime {
  background-color: blue;
  width: 200px;
  height: 150px;
}

.container {
  width: 100%;
  margin: 70px 10px 10px 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 2;
  justify-content: center;
  align-items: center;
}

.cover {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.cover img {
  margin: 0px auto;
  width: 50%;
}

/* .cover-text {
    margin: 0px auto;
    width: 50%;
    text-align: center;
} */

footer {
  height: 800px;
  background: rgb(13, 11, 7);
  background: linear-gradient(
    180deg,
    rgba(13, 11, 7, 1) 14%,
    rgba(78, 69, 14, 1) 37%,
    rgba(248, 219, 32, 1) 65%,
    rgba(248, 219, 32, 1) 100%
  );
}

.dawn {
  display: block;
  position: relative;
}

.dawn img {
  display: block;
  margin: 0 auto;
  mix-blend-mode: overlay;
}

.dawn p {
  font-family: "Andline", sans-serif;
  font-size: 40px;
  text-align: center;
  display: block;
  margin: 25px auto;
}

/* texto encima de la imagen del footer */
.up {
  color: #f8db20;
}

/* texto abajo de la imagen del footer */
.down {
  color: #0d0b07;
}

.nav-footer {
  width: 100vw;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 20px;
  background-color: #f8db20;
  margin-top: 50px;
}

.nav-footer li {
  display: inline-block;
  text-align: center;
  background-color: #f8db20;
  color: #0d0b07;
  padding: 15px 20px;
  min-width: 120px;
  margin: 0 30px;
}

.nav-footer ul li a {
  text-align: center;
  color: #0d0b07;
}

.nav-footer li a:hover {
  color: #f8db20;
  background-color: #0d0b07;
  width: 100px;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.nav-footer li:hover {
  color: #f8db20;
  background-color: #0d0b07;
  width: 100px;
  height: 100%;
  transition: all 0.3s ease-in-out;
}


.top {
  background-color: #f8db20;
  width: 4rem;
  height: 4rem;
  position: sticky;
  bottom: 0%;
  left: 100%;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.top a {
  color: #f8db20;
  font-family: var(--body-font-family);
  font-size: 20px;
  position: sticky;
  bottom: 0%;
  left: 100%;
  transform: rotate(45deg);
}

#bottom {
  color: #f8db20;
  font-family: var(--body-font-family);
  font-size: 20px;
  position: sticky;
  bottom: 0%;
  left: 100%;
  transform: rotate(45deg);
}

